.av-button {
    position: absolute;
    width: 15%;
    height: 15%;
    top: 43%;
    left: 0;
    background-color: rgb(78, 108, 141);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.av-button a {
    text-decoration: none;
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #f8ee95;
}

@media only screen and (max-width: 600px) {
    .av-button {
        width: 35%;
        height: 12%;
        top: 15%;
    }

    .av-button a {
        font-size: 17px;
    }
}