.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.about span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description {
    position: fixed;
    height: 85%;
}

.description p {
    font-size: 15px;
}

#programmingIcon,
#targetIcon,
#goalsIcon {
    width: 20px;
    margin: 5px;
}

.about-nav-bar {
    height: 0.5%;
    width: 6%;
    background-color: darkgoldenrod;
    position: absolute;
    top: 8%;
    left: 31%;
}

@media only screen and (max-width: 600px) {
    .about-nav-bar {
        height: 0.5%;
        width: 10%;
        top: 9%;
        left: 45%;
    }

    .description {
        height: 71%;
        margin: 1%;
    }

    .description p {
        font-size: 11px;
    }
}