.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0 100px;
}

.about span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description {
    position: fixed;
}

#programmingIcon,
#targetIcon,
#goalsIcon {
    width: 20px;
    margin: 5px;
}

.about-nav-bar {
    height: 5px;
    width: 100px;
    background-color: darkgoldenrod;
    position: absolute;
    top: 60px;
    left: 590px;
}