.profilePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 15%;
    width: 15%;
    top: 43%;
    left: 22%;
}

#profile-picture {
    width: 81%;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .profilePic {
        height: 19%;
        width: 19%;
        top: 48%;
        left: 12%;
    }

    #profile-picture {
        width: 100%;
    }
}