.contact {
    height: 90%;
}

.contact-details {
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    width: 40%;
    height: 39%;
    background: linear-gradient(120deg,#f6f6df 49%,#789ebdfa 55%,#7da0bd 51%);
    display: flex;
}

.left-details {
    width: 55%;
}

.right-details {
    width: 45%;
}

.contactName {
    display: flex;
    align-items: center;
}

.contactName h2 {
    padding: 3%;
    color: #990f05;
}

h2:first-child {
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
}

h2:last-child {
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
}

.contactTitle {
    display: flex;
    margin-bottom: 4%;
}

.contactTitle h3 {
    padding-left: 3%;
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    font-style: oblique;
    color: #3b4374;
}

.contactIcon img {
    width: 17%;
    display: flex;
    margin-left: 27%;
}

.right-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contactAddress,
.contactPhone,
.contactEmail {
    display: flex;
}

.contactAddress img,
.contactPhone img,
.contactEmail img {
    width: 10%;
}

.contactAddress p,
.contactPhone p,
.contactEmail p {
    margin-left: 3%;
    color: #990f05;
    font-size: 17px;
}

.contact-nav-bar {
    height: 0.5%;
    width: 6%;
    background-color: darkgoldenrod;
    position: absolute;
    top: 8%;
    left: 70%;
}

@media only screen and (max-width: 600px) {
    .contact {
        height: 90%;
    }

    .contact-nav-bar {
        height: 0.5%;
        width: 10%;
        top: 28%;
        left: 45%;
    }

    .contact-details {
        top: 52%;
        left: 50%;
        margin-top: -80px;
        margin-left: -290px;
        width: 95%;
        height: 43%;
    }

    .contactAddress p,
    .contactPhone p,
    .contactEmail p {
        font-size: 15px;
    }
}