.home {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-title {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.job-title p {
    font-size: 35px;
}

.home-nav-bar {
    height: 0.5%;
    width: 6%;
    background-color: darkgoldenrod;
    position: absolute;
    top: 8%;
    left: 23%;
}

@media only screen and (max-width: 600px) {
    .home-nav-bar {
        height: 0.5%;
        width: 10%;
        top: 4%;
        left: 45%;
    }

    .job-title {
        top: 67%;
        height: 10%;
    }

    .job-title p {
        font-size: 20px;
    }
}