.home {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-title {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.job-title p {
    font-size: 35px;
}

.home-nav-bar {
    height: 0.5%;
    width: 6%;
    background-color: darkgoldenrod;
    position: absolute;
    top: 8%;
    left: 23%;
}

@media screen and (max-width: 600px) {
    .job-title {
        top: 68%;
        height: 10%;
    }

    .job-title p {
        font-size: 20px;
    }

    .home-nav-bar {
        height: 4px;
        width: 65px;
        top: 30px;
        left: 153px;
    }
}