.projects {
    height: 600px;
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projects-nav-bar {
    height: 5px;
    width: 100px;
    background-color: darkgoldenrod;
    position: absolute;
    top: 60px;
    left: 710px;
}

.cv-project,
.game-project {
    height: 280px;
    width: 550px;
}

.cv-project img,
.game-project img {
    height: 280px;
    width: 570px;
    border-radius: 10px;
}