.projects {
    border: 2px solid;
    height: 600px;
    margin: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-nav-bar {
    height: 5px;
    width: 100px;
    background-color: darkgoldenrod;
    position: absolute;
    top: 60px;
    left: 825px;
}