.recommendations {
    height: 90%;
    margin-bottom: 3%;
    margin-right: 7%;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.recommendations-nav-bar {
    height: 0.5%;
    width: 6%;
    background-color: darkgoldenrod;
    position: absolute;
    top: 8%;
    left: 58%;
}

.intro-recommendation,
.front-end-recommendation {
    height: 80%;
    width: 28%;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.intro-recommendation p:nth-child(2),
.front-end-recommendation p:nth-child(2) {
    display: inline;
}

.intro-recommendation a,
.front-end-recommendation a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .recommendations-nav-bar {
        height: 4px;
        width: 76px;
        top: 174px;
        left: 151px;
    }
}