.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

#linkedin-icon,
#github-icon,
#facebook-icon {
    height: 35px;
    padding: 5px;
}

@media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 667px) {
        #linkedin-icon,
        #github-icon,
        #facebook-icon {
            height: 25px;
        }
}

@media only screen 
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {
        #linkedin-icon,
        #github-icon,
        #facebook-icon {
            height: 30px;
        }
}