.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

#linkedin-icon,
#github-icon,
#facebook-icon {
    height: 35px;
    padding: 5px;
}

@media only screen and (max-width: 376px) {
    #linkedin-icon,
    #github-icon,
    #facebook-icon {
        height: 25px;
    }
}