.footer {
    position: fixed;
    bottom: 1%;
    left: 42%;
    right: 42%;
    height: 5%;
}

p {
    color: rgb(78, 108, 141);
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

@media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 667px) {
        .footer {
            bottom: 1%;
            left: 30%;
            right: 30%;
            height: 3%;
        }
        
        .footer p {
            font-size: 10px;
        }
}

@media only screen 
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {
        .footer {
            bottom: 1%;
            left: 30%;
            right: 30%;
            height: 3%;
        }

        .footer p {
            font-size: 12px;
        }
}