.skills {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillsText {
    display: flex;
    align-items: center;
}

.skillsText img {
    height: 160px;
    margin: 0 30px;
    border-radius: 25px;
    transition: height 1s;
}

.skillsText img:hover {
    height: 180px;
}

.skillsText p {
    font-size: 22px;
}

.skillsIcons {
    margin-top: 3%;
}

.skillsIcons img {
    width: 8%;
    padding: 10px;
}

.skillsIcons #js {
    border-radius: 15px;
}

.skillsIcons p {
    font-size: 22px;
    text-decoration: underline;
}

.skills-nav-bar {
    height: 0.5%;
    width: 6%;
    background-color: darkgoldenrod;
    position: absolute;
    top: 8%;
    left: 38.5%;
}

@media only screen and (max-width: 600px) {
    .skills {
        height: 70%;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .skills-nav-bar {
        height: 0.5%;
        width: 10%;
        top: 14%;
        left: 45%;
    }

    .skillsText {
        display: flex;
        flex-direction: column;
    }

    .skillsText p,
    .skillsIcons p {
        font-size: 17px;
    }

    .skillsText img {
        height: 135px;
    }

    .skillsIcons {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 254px;
    }

    .skillsIcons img {
        width: 12%;
    }
}